{% extends 'base.html.twig' %}
{% block title %}
    Add Coupon
{% endblock %}

{% block body %}
    <div class="container-fluid mar-top-20">
        <div class="col-xs-12 col-md-12 mnopadding">
            <div class="col-md-3 col xs-12 text-left heading">
                <a href="{{ path('home_page') }}" style="text-decoration: none !important;">
                    <i class="fas fa-chevron-circle-left"></i>
                    &nbsp;Back
                </a>
            </div>
            <div class="col-md-6 col-xs-12 text-center heading">Add Coupon</div>
        </div>
        <h3 class="text-left"></h3>
        <div class="center-block">
            <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 nopadding"
                 style="font-size: 16px;">
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label for="coupon_name">Name</label>
                        <input type="text" class="form-control" id="coupon_name" placeholder="(Ex. HAPPY20)">
                        <div class="coupon_name_error text-danger small" hidden>
                            <i class="fas fa-exclamation-circle"></i>&nbsp;Name cannot be left empty
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 form-group">
                        <label for="coupon_description">Description</label>
                        <textarea class="form-control" id="coupon_description" name="description" rows="4" cols="20"
                                  maxlength="500"></textarea>
                        <div class="coupon_description_error text-danger small" hidden>
                            <i class="fas fa-exclamation-circle"></i>&nbsp;Description cannot be left empty
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="start_date">Start Date</label>
                        <div class='input-group date nopadding' id='start_date'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                             </span>
                        </div>
                        <div class="start_date_error text-danger small" hidden>
                            <i class="fas fa-exclamation-circle"></i>&nbsp;Start date cannot be left empty
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-6 form-group">
                        <label for="end_date">End Date</label>
                        <div class='input-group date nopadding' id='end_date'>
                            <input type='text' class="form-control"/>
                            <span class="input-group-addon">
                                <span class="fa fa-calendar"></span>
                             </span>
                        </div>
                        <div class="end_date_error text-danger" hidden>
                            <i class="fas fa-exclamation"></i>&nbsp;End date cannot be left empty
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-md-4 form-group">
                        <label for="amount">Amount</label>
                        <input type="number" class="form-control" id="coupon_amount" placeholder="(Ex. 100,200)">
                        <div class="amount_error small text-danger" hidden>
                            <i class="fas fa-exclamation-circle"></i>&nbsp;Amount cannot be left empty
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 form-group">
                        <label for="max_redeem">Max Redeem</label>
                        <input type="number" class="form-control" id="max_redeem" placeholder="(Ex. 200, 500)">
                        <div class="max_redeem_error small text-danger" hidden>
                            <i class="fas fa-exclamation-circle"></i>&nbsp;Max redeem cannot be left empty
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-4 form-group">
                        <label for="max_redeem_per_user">Max Redeem Per User</label>
                        <input type="number" class="form-control" id="max_redeem_per_user" placeholder="(Ex. 1,2)">
                        <div class="max_redeem_per_user_error small text-danger" hidden>
                            <i class="fas fa-exclamation-circle"></i>&nbsp;Max redeem per user cannot be left empty
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 mar-top-10 text-danger max_redeem_constraint_error text-center" hidden>
                    <i class="fas fa-exclamation-circle"></i>&nbsp;Max redeem per user cannot be greater than max redeem
                    limit.
                </div>
                <div class="col-xs-12 mar-top-10 text-danger text-center date_constraint_error" hidden>
                    <i class="fas fa-exclamation-circle"></i>&nbsp;Start date cannot be greater than end date.
                </div>
                <div class="row">
                    <div class="col-xs-12 text-right">
                        <button id="add_coupon_submit" class="btn btn-success mar-top-10 mar-bot-20">Submit</button>
                    </div>
                </div>
            </div>
        </div>
        <input hidden id="form_submit_url" data-url="{{ path('_add_coupon_action') }}">
    </div>
{% endblock %}

